/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-carouselx-esnext-example {
	background-color: #eee;
	color: #777;
	padding: 2px;
}
.cx-controls a {
	cursor: pointer;
}

// button.components-button {
// 	background: #007cba;
// 	color: #fff;
// }

// button.components-button:hover {
// 	color: whiteSmoke;
// }